<h1>
  <a href="/">
    APR Calculator
  </a>
</h1>
<h2>Monthly payment: {{data.monthly}}</h2>
<h2>Loan APR: {{data.apr}}</h2>
<form method="POST" action="/api/mortgage">
  <div class="row">
    <input
      type="number"
      name="principal"
      placeholder="Mortgage Amount: {{data.principal}}"
      class="col-sm-12 form-group"
      value="{{data.principal}}"
    />
    <input
      type="number"
      name="term"
      placeholder="term in years: {{data.term}}yrs"
      class="col-sm-12 form-group"
      value="{{data.term}}"
    />
    <input
      type="percent"
      name="interest"
      placeholder="Interest Rate {{data.interest}} %"
      class="col-sm-12 form-group"
      value="{{data.interest}}"
    />
  <input
      type="number"
      name="fees"
      placeholder="Loan Fees {{data.fees}} %"
      class="col-sm-12 form-group"
      value="{{data.fees}}"
    />
    <button
      type="submit"
      {{!-- value="calculate" --}}
      class="btn btn-primary"
    >Submit</button>
  </div>
</form>

<h3>Total Payments: {{data.totalPayment}}</h3>
<h3>Total Interest: {{data.totalInterest}}</h3>
